<div class="row center" ng-app="mainApp" ng-controller="AddController">
	<div>
		<h3>ADD TEACHER</h3>			
	</div>
	<div class="row container">
	<form id="addTeacherForm" name="addTeacherForm" class="col s12">
	  <div class="row">
		<div class="input-field col s12">
		  <input id="name" ng-model="formData.name" type="text" class="validate">
		  <label for="name">Name</label>
		</div>
	  </div>
	  <div class="row">
		<div class="input-field col s6">
		  <input id="username" ng-model="formData.username" type="text" class="validate">
		  <label for="username">Username</label>
		</div>
		<div class="input-field col s6">
		  <input id="password" ng-model="formData.password" type="password" class="validate">
		  <label for="password">Password</label>
		</div>		
	  </div>	  
	  <div class="row">
		<div class="input-field col s12">
		  <input id="classes" ng-model="formData.classes" type="text" class="validate">
		  <label for="classes">Classes Teaching(comma(,) seperated)</label>
		</div>
	  </div>	  
	  <div class="row">
		<a class="waves-effect waves-light btn" ng-click="addTeacher(formData);">Submit</a>
	  </div>
	</form>
	</div>
</div>	